{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Use these REST APIs for performing operations on Tag entity in your Azure API Management deployment. Tags can be assigned to APIs, Operations and Products.",
        "title": "ApiManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimtags.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "apimanagement-apimtags",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags": {
            "get": {
                "description": "Lists a collection of tags defined within a service instance.",
                "operationId": "Tag_ListByService",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "| Field       | Supported operators    | Supported functions               |\n|-------------|------------------------|-----------------------------------|\n\r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "Number of records to skip.",
                        "in": "query",
                        "name": "$skip",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "Scope like 'apis', 'products' or 'apis/{apiId}",
                        "in": "query",
                        "name": "scope",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists a collection of Tag entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Paged Tag list representation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Next page link if any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Page values.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The Resource definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type for API Management resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Tag Contract details.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Tag contract Properties.",
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "Tag name.",
                                                                "maxLength": 160,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "displayName"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementListTags": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001",
                                            "name": "5600b59375ff190048020001",
                                            "properties": {
                                                "displayName": "tag1"
                                            },
                                            "type": "Microsoft.ApiManagement/service/tags"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002",
                                            "name": "5600b59375ff190048020002",
                                            "properties": {
                                                "displayName": "tag2"
                                            },
                                            "type": "Microsoft.ApiManagement/service/tags"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/./apimtags.jsonTagContract",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-s2o-warning": "Could not resolve reference #/components/schemas/./apimtags.jsonTagContract"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}": {
            "delete": {
                "description": "Deletes specific tag of the API Management service instance.",
                "operationId": "Tag_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Tag identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "tagId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
                        "in": "header",
                        "name": "If-Match",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tag successfully removed"
                    },
                    "204": {
                        "description": "Tag successfully removed by previous request or does not exist"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementDeleteTag": {
                        "parameters": {
                            "If-Match": "*",
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid",
                            "tagId": "tagId1"
                        },
                        "responses": {
                            "200": {},
                            "204": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the details of the tag specified by its identifier.",
                "operationId": "Tag_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Tag identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "tagId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response body contains the specified Tag entity.",
                        "headers": {
                            "ETag": {
                                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Tag Contract details.",
                                    "properties": {
                                        "properties": {
                                            "description": "Tag contract Properties.",
                                            "properties": {
                                                "displayName": {
                                                    "description": "Tag name.",
                                                    "maxLength": 160,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "displayName"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementGetTag": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid",
                            "tagId": "59306a29e4bbd510dc24e5f9"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
                                    "name": "59306a29e4bbd510dc24e5f9",
                                    "properties": {
                                        "displayName": "tag1"
                                    },
                                    "type": "Microsoft.ApiManagement/service/tags"
                                }
                            }
                        }
                    }
                }
            },
            "head": {
                "description": "Gets the entity state version of the tag specified by its identifier.",
                "operationId": "Tag_GetEntityState",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Tag identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "tagId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empty response body, ETag header entity state version.",
                        "headers": {
                            "ETag": {
                                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementHeadTag": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid",
                            "tagId": "59306a29e4bbd510dc24e5f9"
                        },
                        "responses": {
                            "200": {
                                "headers": {
                                    "Etag": "AAAAAAAACCI="
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the details of the tag specified by its identifier.",
                "operationId": "Tag_Update",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Tag identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "tagId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
                        "in": "header",
                        "name": "If-Match",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The tag details were successfully updated."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementUpdateTag": {
                        "parameters": {
                            "If-Match": "*",
                            "api-version": "2018-06-01-preview",
                            "parameters": {
                                "properties": {
                                    "displayName": "temp tag"
                                }
                            },
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid",
                            "tagId": "temptag"
                        },
                        "responses": {
                            "204": {}
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters supplied to Create/Update Tag operations.",
                                "properties": {
                                    "properties": {
                                        "description": "Properties supplied to Create Tag operation.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "displayName": {
                                                "description": "Tag name.",
                                                "maxLength": 160,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "displayName"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Update parameters.",
                    "required": true
                }
            },
            "put": {
                "description": "Creates a tag.",
                "operationId": "Tag_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Tag identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "tagId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
                        "in": "header",
                        "name": "If-Match",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tag already exists.",
                        "headers": {
                            "ETag": {
                                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Tag Contract details.",
                                    "properties": {
                                        "properties": {
                                            "description": "Tag contract Properties.",
                                            "properties": {
                                                "displayName": {
                                                    "description": "Tag name.",
                                                    "maxLength": 160,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "displayName"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Tag was created successfully.",
                        "headers": {
                            "ETag": {
                                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Tag Contract details.",
                                    "properties": {
                                        "properties": {
                                            "description": "Tag contract Properties.",
                                            "properties": {
                                                "displayName": {
                                                    "description": "Tag name.",
                                                    "maxLength": 160,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "displayName"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Tag"
                ],
                "x-ms-examples": {
                    "ApiManagementCreateTag": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "parameters": {
                                "properties": {
                                    "displayName": "tag1"
                                }
                            },
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid",
                            "tagId": "tagId1"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
                                    "name": "tagId1",
                                    "properties": {
                                        "displayName": "tag1"
                                    },
                                    "type": "Microsoft.ApiManagement/service/tags"
                                }
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
                                    "name": "tagId1",
                                    "properties": {
                                        "displayName": "tag1"
                                    },
                                    "type": "Microsoft.ApiManagement/service/tags"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters supplied to Create/Update Tag operations.",
                                "properties": {
                                    "properties": {
                                        "description": "Properties supplied to Create Tag operation.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "displayName": {
                                                "description": "Tag name.",
                                                "maxLength": 160,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "displayName"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Create parameters.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "TagCollection": {
                "description": "Paged Tag list representation.",
                "properties": {
                    "nextLink": {
                        "description": "Next page link if any.",
                        "type": "string"
                    },
                    "value": {
                        "description": "Page values.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "The Resource definition.",
                                    "properties": {
                                        "id": {
                                            "description": "Resource ID.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Resource name.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Resource type for API Management resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            ],
                            "description": "Tag Contract details.",
                            "properties": {
                                "properties": {
                                    "description": "Tag contract Properties.",
                                    "properties": {
                                        "displayName": {
                                            "description": "Tag name.",
                                            "maxLength": 160,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "displayName"
                                    ]
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "TagContract": {
                "allOf": [
                    {
                        "description": "The Resource definition.",
                        "properties": {
                            "id": {
                                "description": "Resource ID.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Resource name.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Resource type for API Management resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "x-ms-azure-resource": true,
                        "type": "object"
                    }
                ],
                "description": "Tag Contract details.",
                "properties": {
                    "properties": {
                        "description": "Tag contract Properties.",
                        "properties": {
                            "displayName": {
                                "description": "Tag name.",
                                "maxLength": 160,
                                "minLength": 1,
                                "type": "string"
                            }
                        },
                        "required": [
                            "displayName"
                        ]
                    }
                },
                "type": "object"
            },
            "TagContractProperties": {
                "description": "Tag contract Properties.",
                "properties": {
                    "displayName": {
                        "description": "Tag name.",
                        "maxLength": 160,
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "required": [
                    "displayName"
                ],
                "type": "object"
            },
            "TagCreateUpdateParameters": {
                "description": "Parameters supplied to Create/Update Tag operations.",
                "properties": {
                    "properties": {
                        "description": "Properties supplied to Create Tag operation.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "displayName": {
                                "description": "Tag name.",
                                "maxLength": 160,
                                "minLength": 1,
                                "type": "string"
                            }
                        },
                        "required": [
                            "displayName"
                        ]
                    }
                },
                "type": "object"
            },
            "TagDescriptionBaseProperties": {
                "description": "Parameters supplied to the Create TagDescription operation.",
                "properties": {
                    "description": {
                        "description": "Description of the Tag.",
                        "type": "string"
                    },
                    "externalDocsDescription": {
                        "description": "Description of the external resources describing the tag.",
                        "type": "string"
                    },
                    "externalDocsUrl": {
                        "description": "Absolute URL of external resources describing the tag.",
                        "maxLength": 2000,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TagDescriptionCollection": {
                "description": "Paged TagDescription list representation.",
                "properties": {
                    "nextLink": {
                        "description": "Next page link if any.",
                        "type": "string"
                    },
                    "value": {
                        "description": "Page values.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "The Resource definition.",
                                    "properties": {
                                        "id": {
                                            "description": "Resource ID.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Resource name.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Resource type for API Management resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            ],
                            "description": "Contract details.",
                            "properties": {
                                "properties": {
                                    "allOf": [
                                        {
                                            "description": "Parameters supplied to the Create TagDescription operation.",
                                            "properties": {
                                                "description": {
                                                    "description": "Description of the Tag.",
                                                    "type": "string"
                                                },
                                                "externalDocsDescription": {
                                                    "description": "Description of the external resources describing the tag.",
                                                    "type": "string"
                                                },
                                                "externalDocsUrl": {
                                                    "description": "Absolute URL of external resources describing the tag.",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "description": "TagDescription contract Properties.",
                                    "properties": {
                                        "displayName": {
                                            "description": "Tag name.",
                                            "maxLength": 160,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "TagDescriptionContract": {
                "allOf": [
                    {
                        "description": "The Resource definition.",
                        "properties": {
                            "id": {
                                "description": "Resource ID.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Resource name.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Resource type for API Management resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "x-ms-azure-resource": true,
                        "type": "object"
                    }
                ],
                "description": "Contract details.",
                "properties": {
                    "properties": {
                        "allOf": [
                            {
                                "description": "Parameters supplied to the Create TagDescription operation.",
                                "properties": {
                                    "description": {
                                        "description": "Description of the Tag.",
                                        "type": "string"
                                    },
                                    "externalDocsDescription": {
                                        "description": "Description of the external resources describing the tag.",
                                        "type": "string"
                                    },
                                    "externalDocsUrl": {
                                        "description": "Absolute URL of external resources describing the tag.",
                                        "maxLength": 2000,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        ],
                        "description": "TagDescription contract Properties.",
                        "properties": {
                            "displayName": {
                                "description": "Tag name.",
                                "maxLength": 160,
                                "minLength": 1,
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "TagDescriptionContractProperties": {
                "allOf": [
                    {
                        "description": "Parameters supplied to the Create TagDescription operation.",
                        "properties": {
                            "description": {
                                "description": "Description of the Tag.",
                                "type": "string"
                            },
                            "externalDocsDescription": {
                                "description": "Description of the external resources describing the tag.",
                                "type": "string"
                            },
                            "externalDocsUrl": {
                                "description": "Absolute URL of external resources describing the tag.",
                                "maxLength": 2000,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "description": "TagDescription contract Properties.",
                "properties": {
                    "displayName": {
                        "description": "Tag name.",
                        "maxLength": 160,
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TagDescriptionCreateParameters": {
                "description": "Parameters supplied to the Create TagDescription operation.",
                "properties": {
                    "properties": {
                        "description": "Properties supplied to Create TagDescription operation.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "description": {
                                "description": "Description of the Tag.",
                                "type": "string"
                            },
                            "externalDocsDescription": {
                                "description": "Description of the external resources describing the tag.",
                                "type": "string"
                            },
                            "externalDocsUrl": {
                                "description": "Absolute URL of external resources describing the tag.",
                                "maxLength": 2000,
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}